<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CYXTouchLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55256A221E8256F1008AD8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55256A3B1E8256F3008AD8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55256A461E8256F3008AD8B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
